@{
    ViewBag.Title = "HAMME Game Review";
}

<div class="jumbotron">
    <h1>HAAME Game Review</h1>
    <p class="lead">The worlds leading website in all things game related</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Top News &raquo;</a></p>
    <label>Search:</label><br />
    <input type="text" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to HAAME Game Review</h2>
        <p>
            Here of this website we review all the games in the world. We can give you news and updates about new games that
            are coming out, what are the hot gossips about trending games and get reward points for top reviews. Make sure
            that you create an account so that you can get these points.
        </p>
        <p><a class="btn btn-default" href="~/Views/Account/Register.cshtml">Create Account &raquo;</a></p>
        <img src="~/Images/cartoon-controller-png.png" height="150" width="200" />
    </div>
    <div class="col-md-4">
        <h2>New Releases</h2>
        <p>Here's a chance to check out the new games that have just come out.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p>Do you love games? Why not check out the games that will be coming out soon.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <br /><br /><br />
    <br />
    <div class="col-md-4">
        <h2>Game of the Month</h2>
        <p>Why not take a look at the Top recommended Game of the Month?.</p>
        <img src="~/Images/fifa20.jpg" height="200" width="200" />  <img src="~/Images/NBA_2K20_cover.png" height="200" width="200" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User Rewards</h2>
        <p>Here's what you could get when you get certain amount of points</p>
        <img src="~/Images/trophy.png" height="200" width="200" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>