################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HAAME/HAMME/.vs/HAMME/v15/Server/sqlite3/db.lock
/HAAME/.vs/HAAME/v15/Server/sqlite3/db.lock
