################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HAAME/HAMME/.vs/HAMME/v15/Server/sqlite3/db.lock
/HAAME/.vs/HAAME/v15/Server/sqlite3/db.lock
/GameReview/.vs/GameReview/v15/Server/sqlite3/db.lock
/GameReview/GameReview/App_Data/GameContext-20200323133512.mdf
/GameReview/GameReview/App_Data/GameContext-20200323133512_log.ldf
/GameReview/GameReview/App_Data/DeveloperContext-20200326115407_log.ldf
/GameReview/GameReview/App_Data/DeveloperContext-20200326115407.mdf
