@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<p>Welcome to HAAME, our games review website. This is a website where you can feel free to explore and share your opinions on the games you have recently played.
    At HAAME, we believe that all gamers have the right to express their feelings about the games they love or hate.
    We are a gamming community and recommendations goes a long way for all types of gamers. </p>
