@{
    ViewBag.Title = "HAAME Games Review";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<div class="jumbotron">
    <h1>HAAME Game Review</h1>
    <p class="lead">The worlds leading website in all things game related</p>
</div>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        These are the upcoming games that will be coming soon this year.
        <br /><br />
              <table>
                  <tr>
                      <th>Game Title</th>
                      <th>Release Date</th>
                      <th>Platforms</th>
                  </tr>
                  <tr>
                      <td>
                          Resident Evil 3: Resistance
                      </td>
                      <td>
                          Out 27 March 2020
                      </td>
                      <td>
                          Playstation, XBox
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Playstation Hits: Lego Batman 3 Beyond Gotham
                      </td>
                      <td>
                          Out 27 March 2020
                      </td>
                      <td>
                          Playstation
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Playstation Hits: Injustice 2
                      </td>
                      <td>
                          Out 27 March 2020
                      </td>
                      <td>
                          Playstation
                      </td>
                  </tr>
                  <tr>
                      <td>
                          One Piece Pirate Warrior 4
                      </td>
                      <td>
                          Out 27 March 2020
                      </td>
                      <td>
                          Playstation, XBox, Nintendo
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Lego Marvel Collection
                      </td>
                      <td>
                          Out 27 March 2020
                      </td>
                      <td>
                          Playstation, XBox
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Gigantosaurus
                      </td>
                      <td>
                          Out 27 March 2020
                      </td>
                      <td>
                          Playstation, XBox, Nintendo
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Resident Evil 3
                      </td>
                      <td>
                          Out 3 April 2020
                      </td>
                      <td>
                          Playstation, XBox
                      </td>
                  </tr>
                  <tr>
                      <td>
                          Final Fantasy VII Remake
                      </td>
                      <td>
                          Out 10 April 2020
                      </td>
                      <td>
                          Playstation
                      </td>
                  </tr>
                  <tr>
                      <td>
                          MotoGP 2020
                      </td>
                      <td>
                          Out 23 April 2020
                      </td>
                      <td>
                          Playstation, XBox, Nintendo, PC
                      </td>
                  </tr>
              </table>
    </div>
</body>
</html>
