@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<address>
    
    <abbr title="Phone">Phone:</abbr>
    013.558.0100
</address>

<address>
    <strong>EMAIL:</strong>   <a href="mailto:HAAMESupport@gmail.com">HAAMESupport@gmail.com</a><br />
    <strong>TWITTER:</strong> <a href="mailto:https://twitter.com/HAAMESUPPORT">twitter.com/HAAMESupport</a><br />
    <strong>FACEBOOK:</strong> <a href="mailto:https://facebook.com/HAAMEReviews">facebook.com/HAAMEReviews</a>
</address>
<img src="~/Images/twitter.png" width="150" height="150" /> <img src="~/Images/facebook.png" width="150" height="150" />