@{
    ViewBag.Title = "HAAME Games Review";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<div class="jumbotron">
    <h1>HAAME Game Review</h1>
    <p class="lead">The worlds leading website in all things game related</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Top News &raquo;</a></p>
    <label>Search:</label><input type="text" />
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genre</title>
</head>
<body>
    <div class="row">
    <div class="col-md-4">
        <h2>Action Games</h2>
        <table>
            <tr>
                <th>Game Title</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    Resident Evil 3
                </td>
                <td>
                    <img src="~/Images/resident.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    GTA 5
                </td>
                <td>
                    <img src="~/Images/gta.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Home/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    Modern Warfare
                </td>
                <td>
                    <img src="~/Images/cod.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    Halo Infinite
                </td>
                <td>
                    <img src="~/Images/halo.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    Marvels Avengers
                </td>
                <td>
                    <img src="~/Images/marvel.png" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Trending Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sports Games</h2>
        <table>
            <tr>
                <th>Game Title</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    1 - Fifa 20
                </td>
                <td>
                    <img src="~/Images/fifa20.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    Madden 2K20
                </td>
                <td>
                    <img src="~/Images/madden.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    UFC 3
                </td>
                <td>
                    <img src="~/Images/ufc.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    4 - NBA 2K20
                </td>
                <td>
                    <img src="~/Images/NBA_2K20_cover.png" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
            <tr>
                <td>
                    5 - Rocket League
                </td>
                <td>
                    <img src="~/Images/rocket.jpg" height="100" width="100" />
                </td>
                <td>
                    <a href="~/Views/Games/Create.cshtml">Create a review</a>
                </td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Trending Games &raquo;</a></p>
    </div>
     </div>
</body>
</html>
